<div class="card">
    <div class="card-body">
        <form (submit)="addTask(newTitle, newDescription)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titulo Tarea"
                #newTitle autofocus>
            </div>
            <div class="form-group">
                <textarea cols="30" rows="10" class="form-control" placeholder="Descripcion de la Tarea"
                #newDescription></textarea>
            </div>
            <button class="btn btn-primary btn-block">Send</button>
        </form>
    </div>
</div>
